.footer {
  text-align: center;
  color: black;
  font-size: 20px;
  margin-top: 446px;
  background-color: rgb(213, 1, 255);
  padding: 20px 10px;
  background-color: #eee;
  box-shadow: 50px 0px 6px #ccc;
}
